Project Proposal Group 33

Introduction

Preliminary Data Analysis

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   1.0.0
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.5.0
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

ERROR: Error in library(tidymodels): there is no package called ‘tidymodels’

In [2]:
url <- "https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS"
tennis_data <- read_csv(url)
head(tennis_data, n=10)

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   ...1 Age             Country                   Plays        Wikipedia
1  0    26 (25-04-1993) Brazil                    Right-handed Wikipedia
2  1    18 (22-12-2001) United Kingdom            Left-handed  Wikipedia
3  2    32 (03-11-1987) Slovakia                  Right-handed Wikipedia
4  3    21 (29-05-1998) Korea, Republic of        Right-handed Wikipedia
5  4    27 (21-10-1992) Australia                 Right-handed Wikipedia
6  5    22 (11-02-1997) Poland                    Right-handed Wikipedia
7  6    28 (18-11-1991) United States             Right-handed Wikipedia
8  7    21 (12-05-1998) Taiwan, Province of China Right-handed Wikipedia
9  8    25 (29-07-1994) Uzbekistan                Right-handed Wikipedia
10 9    20 (02-04-1999) Finland                   Right-handed Wikipedia
   Current Rank Best Rank        Name                 Backhand   Prize Money  ⋯
1  378 (97)     363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯
2  326 (119)    316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯
3  178 (280)    44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯
4  236 (199)    130 (10-04-2017) Duck Hee Lee         Two-handed $374,093     ⋯
5  183 (273)    17 (11-01-2016)  Bernard Tomic        Two-handed US$6,091,971 ⋯
6  31 (1398)    31 (20-01-2020)  Hubert Hurkacz       Two-handed $1,517,157   ⋯
7  307 (131)    213 (31-10-2016) Sekou Bangoura       Two-handed $278,709     ⋯
8  232 (205)    229 (04-11-2019) Tung Lin Wu          Two-handed $59,123      ⋯
9  417 (81)     253 (17-07-2017) Sanjar Fayziev       Two-handed $122,734     ⋯
10 104 (534)    104 (13-01-2020) Emil Ruusuvuori      Two-handed US$74,927    ⋯
   Facebook Twitter Nicknames Grand Slams Davis Cups Web Site Team Cups
1  NA       NA      NA        NA          NA         NA       NA
2  NA       NA      NA        NA          NA         NA       NA
3  NA       NA      NA        NA          NA         NA       NA
4  NA       NA      NA        NA          NA         NA       NA
5  NA       NA      NA        NA          NA         NA       NA
6  NA       NA      NA        NA          NA         NA       NA
7  NA       NA      NA        NA          NA         NA       NA
8  NA       NA      NA        NA          NA         NA       NA
9  NA       NA      NA        NA          NA         NA       NA
10 NA       NA      NA        NA          NA         NA       NA
   Olympics Weeks at No. 1 Tour Finals
1  NA       NA             NA
2  NA       NA             NA
3  NA       NA             NA
4  NA       NA             NA
5  NA       NA             NA
6  NA       NA             NA
7  NA       NA             NA
8  NA       NA             NA
9  NA       NA             NA
10 NA       NA             NA

In [11]:
colnames(tennis_data) <- make.names(colnames(tennis_data))
tennis_data_separated <- tennis_data |> select(Age, Best.Rank, Prize.Money, Seasons, Current.Rank) |>
                separate(col = Age,
                        into = c("Age", "date"),
                        sep=" ",
                        convert=TRUE) |>
                separate(col = Best.Rank,
                        into = c("best_rank", "date_rank"),
                        sep=" ",
                        convert=TRUE) |>

                separate(col = Current.Rank,
                        into = c("current_rank", "date_cur_rank"),
                        sep=" ",
                        convert=TRUE) |>
    select(Age, best_rank, current_rank, Prize.Money, Seasons)

head(tennis_data_separeted, n = 10)

   Age best_rank current_rank Prize.Money  Seasons
1  26  363       378          NA           NA
2  18  316       326          $59,040      NA
3  32   44       178          US$3,261,567 14
4  21  130       236          $374,093      2
5  27   17       183          US$6,091,971 11
6  22   31        31          $1,517,157    5
7  28  213       307          $278,709      1
8  21  229       232          $59,123       1
9  25  253       417          $122,734      5
10 20  104       104          US$74,927     3

In [44]:
tennis_data_separated$Prize.Money <- gsub("US", " ", tennis_data_separeted$Prize.Money)


tennis_data_separated$Prize.Money <- gsub("US", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- gsub("all-time leader in earnings", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- gsub("11th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- gsub("24th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- gsub("10th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("14th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("27th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("15th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("30th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("All-time leader in earnings", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("4th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("28th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("2nd", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("6th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("33rd", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("26th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("24th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("48th", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("41st", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("\\$","", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub(" ", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("   ", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub("  ", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- sub(" all-time in earnings", "", tennis_data_separated$Prize.Money)
tennis_data_separated$Prize.Money <- gsub(",", "", tennis_data_separated$Prize.Money)

tennis_data_renamed <- tennis_data_separated |>
    rename("Best_Rank" = "best_rank") |>
    rename("Current_Rank" = "current_rank")
tennis_data_renamed

    Age Best_Rank Current_Rank Prize.Money Seasons
1   26  363       378          NA          NA
2   18  316       326          59040       NA
3   32   44       178          3261567     14
4   21  130       236          374093       2
5   27   17       183          6091971     11
6   22   31        31          1517157      5
7   28  213       307          278709       1
8   21  229       232          59123        1
9   25  253       417          122734       5
10  20  104       104          74927        3
11  19   17        22          1893476      3
12  23    4         4           10507693    5
13  28  143       148          303458       8
14  23  319       431          54004       NA
15  28  134       134          439427       5
16  31    3       121          25889586    14
17  24  283       375          NA          NA
18  22  132       133          507297       2
19  20   47        54          1285541      3
20  22   25        34          2722314      6
21  33   19       130          10821168    14
22  32   11        45          11912152    15
23  30   98       105          898701       7
24  30  171       172          184328       1
25  30  277       293          158269       7
26  22  312       339          87942       NA
27  26  293       448          32892        1
28  30   75       123          631094       3
29  21  382       388          NA          NA
30  32    9        12          13470614    16
⋮   ⋮   ⋮         ⋮            ⋮           ⋮
471 23  196       210          150833       2
472 24  486       493          NA          NA
473 28   99       167          484561       3
474 34    8       179          8918917     16
475 26  292       298          105238       1
476 21  389       485          NA          NA
477 25  276       353          NA          NA
478 24  289       289          108984      NA
479 25  465       486          NA          NA
480 18  355       360          31170       NA
481 27  136       207          310368       2
482 23  365       365          69581       NA
483 29  189       351          185586      NA
484 26  314       334          NA          NA
485 22   29        50          3304117      7
486 32   84       260          2013015     11
487 23  343       429          NA          NA
488 24   58        71          1703096      7
489 24   92       103          414637       4
490 18  299       299          12756        2
491 28   74       292          1048314      7
492 26  249       324           132871      8
493 31  281       310          178317       5
494 32  137       416          354975       3
495 20  394       397          40724        1
496 20  380       382          57943       NA
497 26    4         5          22132368    10
498 23  342       495          NA          NA
499 24  419       419          NA          NA
500 22  408       451          61984        2

In [45]:
tennis_data_mutated <- tennis_data_renamed |>
    mutate(Prize_Money = as.numeric(Prize.Money)) |>
    na.omit() |>
    select(Age, Best_Rank, Current_Rank, Prize_Money, Seasons)

tennis_data_mutated

Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

    Age Best_Rank Current_Rank Prize_Money Seasons
1   32   44       178           3261567    14
2   21  130       236            374093     2
3   27   17       183           6091971    11
4   22   31        31           1517157     5
5   28  213       307            278709     1
6   21  229       232             59123     1
7   25  253       417            122734     5
8   20  104       104             74927     3
9   19   17        22           1893476     3
10  23    4         4          10507693     5
11  28  143       148            303458     8
12  28  134       134            439427     5
13  31    3       121          25889586    14
14  22  132       133            507297     2
15  20   47        54           1285541     3
16  22   25        34           2722314     6
17  33   19       130          10821168    14
18  32   11        45          11912152    15
19  30   98       105            898701     7
20  30  171       172            184328     1
21  30  277       293            158269     7
22  26  293       448             32892     1
23  30   75       123            631094     3
24  32    9        12          13470614    16
25  21  228       228             43346     1
26  20  187       331            127760     2
27  29   23        27           4850190    11
28  27  166       384            238848     4
29  22  238       432             62529     1
30  29   32        32           2301746    13
⋮   ⋮   ⋮         ⋮            ⋮           ⋮
335 30   39       120           2562473     9
336 24  174       198            205414     5
337 34   19        46           8480383    16
338 24  137       156            387165     2
339 21  212       233            108282     1
340 19  266       275            178504     2
341 35    6        61          14773644    17
342 26  102       107            475660     3
343 30   70       114           1805758     8
344 21  208       216            284329     1
345 27  171       490            210006     1
346 29    3        35          18879855    12
347 24   27        40           1965163     7
348 23  196       210            150833     2
349 28   99       167            484561     3
350 34    8       179           8918917    16
351 26  292       298            105238     1
352 27  136       207            310368     2
353 22   29        50           3304117     7
354 32   84       260           2013015    11
355 24   58        71           1703096     7
356 24   92       103            414637     4
357 18  299       299             12756     2
358 28   74       292           1048314     7
359 26  249       324            132871     8
360 31  281       310            178317     5
361 32  137       416            354975     3
362 20  394       397             40724     1
363 26    4         5          22132368    10
364 22  408       451             61984     2

Methods

Expected Outcomes

References